/* Fundo e estrutura geral */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom, #1e3c72, #2a5298);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  color: #333;
}

/* Título principal */
.titulo {
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  margin: 30px 0;
}

/* Container geral */
.container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

/* Blocos de cadastro e lista */
.cadastro, .lista {
  flex: 1;
  max-width: 500px;
  margin: 10px;
}

/* Títulos internos */
.titulo_cadastra, .titulo_lista {
  font-size: 40px;
  font-weight: bold;
  color: #f6f7f8;

  text-align: center;
}

/* Card de cadastro */
.card {
  background-color: #ffffff;
  border: 2px solid #142a3e;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 10px;
}

/* Inputs e selects */
.dados_prod {
  display: block;
  width: 95%;
  margin: 3px 0;
  padding: 12px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botões */
.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px;
  font-size: 25px;
  background-color: #1e4a5f;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2a6c8a;
}

/* Tabela de produtos */
.tabela_produtos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 16px;
}

.tabela_produtos th {
  background-color: #142a3e;
  color: white;
  padding: 12px;
  font-size: 25px;
  border-radius: 10px;
}

.tabela_produtos td {
  background-color: #f9f9f9;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

/* Rodapé */
.valorCaixa {
  background-color: #142a3e;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
}

.direitos {
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
  font-style: italic;
}

#lista_prod{
    font-size: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .cadastro, .lista {
    width: 100%;
    max-width: 500px;
  }

  button {
    width: 100%;
  }

  .titulo {
    font-size: 48px;
  }

  .titulo_cadastra, .titulo_lista {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .dados_prod {
    font-size: 14px;
    padding: 10px;
  }

  button {
    font-size: 14px;
    padding: 10px;
  }

  .titulo {
    font-size: 36px;
  }

  .titulo_cadastra, .titulo_lista {
    font-size: 24px;
  }
}